body{
    Background: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #3e4e88;
}
a{
    color: white;
    margin: 0 0 0 1.5em;
}
div p{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
    margin: 35%;
    color: black;
}
footer p{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #3e4e88;
    box-shadow: rgba(0, 0, 0, 0.4);
}
