nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
P{
    text-align: justify;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
