@font-face {
    font-family: MADERING;
    src: url(/assets/MADERING.ttf);
}
/* Header */
nav{
    position: fixed;
    top: 0;
    margin: 8px 0 0;
    width: 96%;
    /* border-radius: 20px;
    text-align: center;
    background-color: #3e4e88;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4)  */
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    background-color: #3e4e88;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

nav a{
    color: white;
}

/* Main */
.wrapper{
    margin: 20px 20px 40px;
}
article{
    color: black;
    text-align: justify;
}
blockquote{
    font-family: "MADERING";
}
/* Bio */
.bio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bio img{
    border-radius: 20px;
    height: 200px;
    margin: 40px 0 0;
}
.bio-description{
    margin: 0 0 40px;
}
h1{
    margin: 40px 0 0;
    text-align: center;
    font-family: "MADERING";
    font-size: 2.5em;
}
h2{
    text-align: center;
    font-family: "MADERING";
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
h3{
    font-family: "MADERING";
}
/* Experience */
.experience-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#experience h2{
    margin: 0;
    text-align: center;
    font-family: "MADERING";
    /* font-size: 2.5em; */
}
.experience-card{
    display: flex;
    flex-direction: row;
    max-height: 300px;
    margin: 20px 0 0;
    /* border: solid; */
}
.experience-card img{
    border-radius: 20px;
    height: 60px;
    margin: 0;
}
.experience-card article{
    text-align: justify;
}
/* Portfolio CSS */
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #3e4e88;
    margin: 20px 0 0;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.4);
}
img{
    border-radius: 20px;
    height: 260px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-card p{
    margin: 20px;
    text-align: justify;
}
/* Footer */
footer{
    position: fixed;
    bottom: 0;
    margin: 0 0 8px;
    width: 96%;
    border-radius: 20px;
    text-align: center;
    background-color: #3e4e88;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4)
}

footer p{ 
    color: white;
    margin: 0;
}


 @media screen and (min-width: 500px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        border-radius: 20px;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
        background-color: #3e4e88;
    }
    nav a{
        color: white;
        margin: 0 0 0 1.5em;
    }
    h1{
        margin: 0;
        width: 600px;
    }
    .portfolio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap; 
    }
    footer{
        /* position: fixed;
        bottom: 0; */
        margin: 0 0 8px;
        width: 98%;
        border-radius: 20px;
        text-align: end;
        /* background-color: #3e4e88;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.4) */
    }
} 