@font-face {
    font-family: MADERING;
    src: url(/assets/MADERING.ttf);
}

/* Header */
nav{
    position: fixed;
    top: 0;
    margin: 8px 0 0;
    width: 96%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    background-color: #3e4e88;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

nav a{
    color: white;
}

/* Main */
.wrapper{
    margin: 20px 20px 40px;
}
article{
    color: black;
    text-align: justify;
}
img{
    border-radius: 20px;
    height: 260px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    margin: 40px 0 0;
    text-align: center;
    font-family: "MADERING";
    font-size: 2.5em;
}
h2{
    text-align: center;
    font-family: "MADERING";
}
h3{
    font-family: "MADERING";
}

/* Index */
#img-index{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
blockquote{
    text-align: center;
    font-family: "MADERING";
    font-size: 1.3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
/* Bio */
.bio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bio img{
    border-radius: 20px;
    height: 200px;
    margin: 40px 0 0;
}
/* Experience */
.experience-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#experience h2{
    margin: 0;
    text-align: start;
}
.experience-card{
    display: flex;
    flex-direction: row;
    max-height: 200px;
    margin: 10px 0 0;
}
.experience-card img{
    border-radius: 20px;
    height: 60px;
    margin: 0 10px 0 0;
}
/* Portfolio CSS */
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #3e4e88;
    margin: 20px 0 0;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.4);
}

.project-card p{
    margin: 20px;
    text-align: justify;
}
/* Footer */
footer{
    position: fixed;
    bottom: 0;
    margin: 0 0 8px;
    width: 96%;
    border-radius: 20px;
    text-align: center;
    background-color: #3e4e88;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4)
}

footer p{ 
    color: white;
    margin: 0;
}


 @media screen and (min-width: 500px){
    nav{
        width: 98%;
    }
    nav ul{
        justify-content: flex-end;
    }
    nav a{
        margin: 0 20px 0 0;
    }
    .bio{
        justify-content: space-around
    }
    .portfolio{
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    footer{
        width: 98%;
        text-align: end;
    }
    footer p{
        margin: 0 20px 0 0;
    }
} 