body{
    display: flex;
    flex-direction: column;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background-color: #3e4e88;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}
a{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    size: 100vw 100vh;
}
#article{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: justify;
}
#image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #3e4e88;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    
}
#footer{ 
    
    color: white;
}
@media screen and (min-width: 500px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
        //box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
        background-color: #3e4e88;
    }
    a{
        color: white;
        margin: 0 0 0 1.5em;
    }
}